<div id="<%= dom_id movie %>">

  <div class="mb-3">
    <h1>
      <%= movie.title %>
    </h1>
  </div>

  <% if movie.poster_path != nil %>
    <%= image_tag("https://image.tmdb.org/t/p/w500" + movie.poster_path, width: "40%", class: "float-start me-3") %>
  <% end %>

  <div class="metadata">
    <% if movie.year.present? %>
      <span class="badge"><%= movie.year %></span>
    <% end %>

    <% if movie.runtime.present? %>
      <span class="badge"><%= movie.runtime %> min</span>
    <% end %>

    <% if movie.countries.present? %>
      <span class="badge"><%= movie.countries %></span>
    <% end %>
  </div>

  <% if movie.genres.any? %>
    <div class="genres">
      <% movie.genres.each do |genre| %>
        <span class="genre-tag"><%= genre.name %></span>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= movie.description %>
  </div>

</div>
