<!-- app/views/movies/_movie_credits.html.erb -->
<div class="credits-section">
  <% directors = movie.credits.where(role: 'crew', job: 'Director').includes(:person) %>
  <% if directors.any? %>
    <div class="directors-block">
      <b><%= 'Director'.pluralize(directors.count) + ':' %></b>
      <%= directors.map { |credit| credit.person.name }.to_sentence(last_word_connector: ' and ') %>

    </div>
  <% end %>

  <% cast = movie.credits.where(role: 'cast').includes(:person).order(:order) %>
  <% if cast.any? %>
    <div class="cast-block" data-controller="cast-toggle" data-cast-toggle-count-value="<%= cast.count - 15 %>">
      <b><%= 'Actor'.pluralize(cast.count) + ':' %></b>

        <%= cast.limit(15).map { |credit| credit.person.name }.to_sentence(last_word_connector: ' and ') %>
        <br>
      <% if cast.count > 15 %>
        <span data-cast-toggle-target="content" style="display: none;">
          <%= cast.offset(15).map { |credit| credit.person.name }.to_sentence(last_word_connector: ' and ') %>
        </span>
        <button class="toggle-cast-btn" data-cast-toggle-target="button" data-action="click->cast-toggle#toggle">
          Show <%= cast.count - 15 %> more
        </button>
      <% end %>
    </div>
  <% end %>
</div>
