<div class="container">
  <div class="row">
    <div class="col-md-3 m-2">
      <div class="row">
        <%= image_tag "/cinephilia_logo_red.png", width: 250 %>
      </div>
      <div class="row mt-5">
        <% @tags.each do |tag| %>
          <b><%= link_to tag.name, "/tags/" + tag.id.to_s, class: 'do_not_underline' %></b>
        <% end %>
      </div>
      <div class="row mt-3">
        <%= form_with url: search_path, method: :get, local: true, class: "header-search" do |f| %>
          <%= f.text_field :q, placeholder: "Search...", class: "search-input" %>
          <%= f.submit "Search", class: "search-button" %>
        <% end %>
      </div>

    </div>
    <div class="col-md-8">
      <div class="row mb-4">
        <h2><%= @heading %></h2>
        <% @movies_with_cinemas.each do |item| %>

          <div class="col-md-4 mt-4 mb-3">
            <!-- div class="d-flex"-->
            <div>
              <%= image_tag("https://image.tmdb.org/t/p/w500" + item[:movie].poster_path, width: "80", class: "float-start me-3") unless item[:movie].poster_path.nil? %>
            </div>
            <div>
              <div>
                <%= link_to item[:movie].title, "/movies/" + item[:movie].id.to_s %>
              </div>
              <div class="text-muted small mb-2">
                <%= item[:cinemas].join(", ") %>
              </div>
              <div>
                <%= truncate_and_link(item[:movie].description, length: 150, url: "/movies/" + item[:movie].id.to_s) %>
              </div>
            </div>
            <!-- /div -->
          </div>

        <% end %>
      </div>
    </div>

  </div>

</div>
