<div class="container">
  <div class="row">
    <div class="col-md-3 m-2">
      <div class="row">
        <%= image_tag "/cinephilia_logo_red.png", width: 250 %>
      </div>
      <div class="row mt-5">
        <% @tags.each do |tag| %>
          <b><%= link_to tag.name, "/tags/" + tag.id.to_s, class: 'do_not_underline' %></b>
        <% end %>
      </div>

    </div>
    <div class="col-md-8">
      <% @movie_hash.each do |key, value| %>
        <div class="row mb-1">
          <div class="col p-2 m-2 bg-secondary text-white rounded">
            <b><%= key %></b>
          </div>
        </div>

        <div class="row mb-4">
          <% value.each do |v| %>

            <div class="col-md-4 mb-3">
              <div>
                <%= image_tag("https://image.tmdb.org/t/p/w500" + v.poster_path, width: "80", class: "float-start me-3") unless v.poster_path.nil? %>
              </div>
              <div>
                <%= link_to v.title, "/movies/" + v.id.to_s %>
              </div>
              <div>
                <%= truncate_and_link(v.description, length: 150, url: "/movies/" + v.id.to_s) %>
              </div>
            </div>

          <% end %>
        </div>
      <% end %>
    </div>

  </div>

</div>
