<% content_for :title, "Legal" %>
<div class="container mb-5">
  <h3>
    <%= @page_title %>
  </h3>
  <div class="row mt-1">
    <div class="col-md-4">
      <%= @page_description %>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-4">
      <%= @page_contact %>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-4">
      <%= @page_cookie_usage %>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-4">
      <%= @page_disclaimer %>
    </div>
  </div>
</div>
