<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <h1>Festivals & Specials</h1>
    </div>
  </div>
  <% @tags_by_cinema.each do |cinema, tags| %>
    <h4 class="mt-4 mb-3"><%= cinema %></h4>
    <div class="row g-4 mb-2">
      <% tags.each do |tag| %>
        <div class="col-md-4 col-sm-6">
          <%= link_to "/tags/#{tag.slug}", class: "do_not_underline" do %>
            <div class="card h-100 border-0 shadow-sm">
              <div class="card-body">
                <h5 class="card-title"><%= tag.name %></h5>
                <% if tag.description.present? %>
                  <p class="card-text text-secondary small"><%= truncate(tag.description, length: 160) %></p>
                <% end %>
              </div>
              <div class="card-footer bg-transparent border-0 d-flex justify-content-between align-items-center">
                <span class="text-secondary small"><%= @cinemas_by_tag[tag.id]&.join(" · ") %></span>
                <span class="text-primary small">Programm ansehen &rarr;</span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
