<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
  <title><%= content_for(:title) || "Cinephilia" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/favicon-32x32.png" type="image/png">
  <link rel="icon" href="/favicon-32x32.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="d-flex flex-column h-100">
<nav class="navbar navbar-expand-md fixed-top bg-warning" data-controller="navbar">
  <div class="container-fluid">

    <span class="navbar-brand" style="font-family: 'Baloo Bhaijaan',serif; font-weight: bold; font-size: x-large">
      <%= link_to root_url(county: county_param), class: 'do_not_underline' do %>
        <img src="/icon.png" alt="cinephilia" width="35">
      <% end %>
      <%= link_to "Kino #{current_county}", root_url(county: county_param), class: 'do_not_underline d-none d-md-inline' %>
    </span>

    <div class="dropdown ms-auto order-md-last" data-controller="dropdown">
      <a class="dropdown-toggle do_not_underline nav-link" href="#" role="button"
         data-action="click->dropdown#toggle">
        <%= current_county %>
      </a>
      <ul class="dropdown-menu" style="right: 0; left: auto;" data-dropdown-target="menu">
        <% available_counties.each do |county| %>
          <li>
            <%= link_to county, url_for(county: county), class: "dropdown-item #{'active' if county == current_county}" %>
          </li>
        <% end %>
      </ul>
    </div>

    <button class="navbar-toggler border-0" style="margin-left: 5px;" type="button"
            data-action="click->navbar#toggle"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav" data-navbar-target="menu">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <%= link_to "Cinemas", cinemas_path(county: county_param), class: 'nav-link do_not_underline' %>
        </li>
        <li class="nav-item">
          <%= link_to "Movies", movies_path(county: county_param), class: 'nav-link do_not_underline' %>
        </li>
        <li class="nav-item">
          <%= link_to "Specials", specials_path(county: county_param), class: 'nav-link do_not_underline' %>
        </li>
        <li class="nav-item">
          <%= link_to "Search", search_path(county: county_param), class: 'nav-link do_not_underline' %>
        </li>
      </ul>
    </div>

  </div>
</nav>
<%= yield %>
<footer class="footer bg-white mt-auto">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="footer-brand"><b>cinephilia.at</b></div>
        <p class="footer-text">Austria's cinema programme</p>
        <div class="copyright text-left">
          &copy; 2025 cinephilia.at
        </div>
      </div>

      <div class="col-md-6 text-md-start mt-5">
        <ul class="footer-links">
          <li><small><%= link_to "Search", search_path(county: county_param), class: 'do_not_underline' %></small></li>
          <li><small><%= link_to "Cinemas", cinemas_path(county: county_param), class: 'do_not_underline' %></small></li>
          <li><small><%= link_to "Movies", movies_path(county: county_param), class: 'do_not_underline' %></small></li>
          <li><small><%= link_to "Legal", "/legal", class: 'do_not_underline' %></small></li>
        </ul>
      </div>
    </div>
  </div>
</footer>



<div class="cookie-banner d-none" data-controller="cookie-consent">
  <p class="mb-0">
    We use a cookie to remember your selected region. By continuing to use this site, you agree to our use of cookies.
    <%= link_to "Legal", "/legal", class: "cookie-banner-link" %>
  </p>
  <button class="btn btn-sm btn-warning ms-3" data-action="click->cookie-consent#accept">OK</button>
</div>

</body>
</html>
