<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
  <title><%= content_for(:title) || "Cinephilia" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/favicon-32x32.png" type="image/png">
  <link rel="icon" href="/favicon-32x32.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="d-flex flex-column h-100">
<nav class="navbar fixed-top bg-warning">
  <div class="container-fluid">
    <div class="navbar-text">
      <span style="font-family: 'Baloo Bhaijaan',serif; font-weight: bold; font-size: x-large">
        <%= link_to root_url, class: 'do_not_underline' do %>
          <img src="/icon.png" alt="cinephilia" width="35">
        <% end %>
        <%= link_to "Kino #{current_county}", root_url, class: 'do_not_underline mobile-hidden' %>
      </span>
      <span class="m-3 mobile-hidden">
        <%= link_to "Cinemas", "/cinemas", class: 'do_not_underline' %>
      </span>
      <span class="m-2 mobile-hidden">
        <%= link_to "Movies", "/movies", class: 'do_not_underline' %>
      </span>
      <span class="m-2">
        <%= link_to "Search", "/search", class: 'do_not_underline' %>
      </span>
      <span class="dropdown m-2" data-controller="dropdown">
        <a class="dropdown-toggle do_not_underline" href="#" role="button" data-action="click->dropdown#toggle">
          <%= current_county %>
        </a>
        <ul class="dropdown-menu" data-dropdown-target="menu">
          <% available_counties.each do |county| %>
            <li>
              <%= link_to county, url_for(county: county), class: "dropdown-item #{'active' if county == current_county}" %>
            </li>
          <% end %>
        </ul>
      </span>
    </div>

  </div>
</nav>
<%= yield %>
<footer class="footer bg-white mt-auto">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="footer-brand"><b>cinephilia.at</b></div>
        <p class="footer-text">Austria's cinema programme</p>
        <div class="copyright text-left">
          &copy; 2025 cinephilia.at
        </div>
      </div>

      <div class="col-md-6 text-md-start mt-5">
        <ul class="footer-links">
          <li><small><%= link_to "Search", "/search", class: 'do_not_underline' %></small></li>
          <li><small><%= link_to "Cinemas", "/cinemas", class: 'do_not_underline' %></small></li>
          <li><small><%= link_to "Movies", "/movies", class: 'do_not_underline' %></small></li>
          <li><small><%= link_to "Legal", "/legal", class: 'do_not_underline' %></small></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


</body>
</html>
